In [33]:
from sklearn.naive_bayes import MultinomialNB
import pandas as pd
from sklearn.model_selection import train_test_split
import joblib
from sklearn.feature_extraction.text import CountVectorizer

In [34]:
clf = MultinomialNB()

In [35]:
data=pd.read_excel(r"C:\Users\user\Desktop\exercise.xlsx")

In [36]:
data

                                                Text Authority
0  For the Azerbaijani partners we have no restri...  Author 1
1            You can travel, to Europe for mobility.  Author 1
2  Try to gather as many colleagues as possible a...  Author 1
3  It looks promising in some parts of the world ...  Author 1
4  We are all looking forward to your visit and N...  Author 2
5  I know that some of you are arriving, some in ...  Author 2
6  One extremely important point: Each year we ha...  Author 2

In [37]:
data['Text'] = data['Text'].str.strip().str.lower()

In [38]:
data

                                                Text Authority
0  for the azerbaijani partners we have no restri...  Author 1
1            you can travel, to europe for mobility.  Author 1
2  try to gather as many colleagues as possible a...  Author 1
3  it looks promising in some parts of the world ...  Author 1
4  we are all looking forward to your visit and n...  Author 2
5  i know that some of you are arriving, some in ...  Author 2
6  one extremely important point: each year we ha...  Author 2

In [39]:
x = data['Text']
y = data['Authority']

In [40]:
x, x_test, y, y_test = train_test_split(x,y, stratify=y, test_size=0.25, 
                                        random_state=42)

In [41]:
vec = CountVectorizer(stop_words='english')
x = vec.fit_transform(x).toarray()
x_test = vec.transform(x_test).toarray()

In [42]:
clf.fit(x, y)

MultinomialNB()

In [43]:
clf.score(x_test, y_test)

0.5

In [44]:
clf.predict(vec.transform(['just a week before most of you will be setting off for the uk and for keele. we are all looking forward ']))

array(['Author 2'], dtype='<U8')